{% extends "base.html.twig" %}


{% block body %}
  {% for movie in movies %}
    <li>{{ movie.title }}</li>
  {% endfor %}
 <div {{ stimulus_controller('hello') }}>
    <input type="text" {{ stimulus_target('hello', 'name') }}>

    <button class="btn btn-outline-primary" {{ stimulus_action('hello', 'greet') }}>
      Greet
    </button>

    <div {{ stimulus_target('hello', 'output') }}></div>
</div>

<img src={{ asset('build/images/testImage.f92ee9f0.webp') }} alt="Test">
{% endblock %}